:root {
    --wheel-font: "Lato", "Quicksand", sans-serif;
    --wheel-size: 500px;
    --wheel-slice-spacing: 20px;
    --wheel-border-size: 0px;
    --wheel-color: #a58058;
    --neutral-color: transparent;
    --PI: 3.14159265358979;
    --nb-item: 1;
    --item-nb: 0;
    --selected-item: 0;
    --nb-turn: 10;
    --spinning-duration: 10s;
    --reset-duration: 0s;
  }
  
  .wheel-container {
    display: block;
    position: relative;
    box-sizing: content-box;
    width: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
    height: calc(var(--wheel-size) + 2 * var(--wheel-border-size));
    padding: 3px;
    margin: auto;
    background-color: transparent;
    border: solid transparent 3px;
    border-radius: 50%;
    user-select: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
  }
  
  .wheel-container-outline {
    background-image: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--wheel-size) + 15 * var(--wheel-border-size));
    height: calc(var(--wheel-size) + 15 * var(--wheel-border-size));
  }
  
  .wheel-container::before,
  .wheel-container::after {
    content: "";
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border: solid transparent 20px;
    border-left-width: 0;
  }

  .wheel {
    display: block;
    position: relative;
    box-sizing: content-box;
    margin: auto;
    width: var(--wheel-size);
    height: var(--wheel-size);
    overflow: hidden;
    border-radius: 50%;
    background-color: transparent;
    border: solid transparent var(--wheel-border-size);
    transition: transform var(--reset-duration);
    transform: rotate(0deg);
    transform-origin: center;
    cursor: pointer;
    width: 100%;
    margin: -10px;
    height: 100%;
    --selected-item: 8;
  }

  .indicator {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -25px;
    width: 0px;
    height: 0px;
    border-top: 20px solid transparent;
    border-left: 20px solid transparent;
    border-right: 20px solid #b1e4e8;
    border-bottom: 20px solid transparent;
    display: block;
    z-index: 500;
  }

.award-screen {
    position: absolute;
    top: 150px;
    left: -100%;
    width: 100%;
    height: 200px;
    background-color: #010101;
    opacity: 1;
    transition: 0.4s left;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.visible {
        left: 0;
    }
    h2, h3 {
        color: white;
    }
}

  .wheel-center {
    position: absolute;
    z-index: 10000;
    width: 170px;
    height: 170px;
    left: 50%;
    top: 50%;
    margin-left: -90px;
    margin-top: -90px;
  }
  .outer-wheel {
    background-image: none !important;
    transform-origin: center;
  }
  .wheel:first-of-type {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    transform-origin: center;
  }
  
  .wheel.spinning {
    transition: transform 10.5s cubic-bezier(0,1.11,.58,.99);
    transform-origin: center;
    transform: rotate(calc(((var(--item-nb) - var(--selected-item)) * -36deg) - 3600deg));
  }
  
  .wheel::after {
    display: block;
    position: relative;
    content: "";
    width: 200px;
    height: 200px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-position: center;
    background-size: 100%;
  }
  
  .wheel-item {
    display: block;
    position: absolute;
    box-sizing: border-box;
  
    top: 50%;
    left: 50%;
    width: 100%;
    transform-origin: center left;
    transform: translateY(-50%)
      rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1))));
    color: var(--neutral-color);
    text-align: right;
    padding: 0 25px 0 50px;
    font-family: var(--wheel-font);
  }
  
  .wheel-item.seperator {
    transform: translateY(-50%)
      rotate(calc(var(--item-nb) * (360deg / var(--nb-item, 1)) + 45deg));
  }
  
  big {
    display: block;
    position: absolute;
    left: 142px;
    bottom: -9px;
    color: #a58058;
    font-size: 14px;
    height: auto;
    width: 100px;
    overflow: visible;
    text-align: center;
  }
  
  .item-image {
    transform: rotate(92deg);
    width: 65px;
    top: -26px;
    position: absolute;
    left: 132px;
  }
  
  .item-image.INSURANCE {
    top: -38px;
  }
  
  .slice-background {
    position: absolute;
    z-index: -1;
    left: 75px;
    top: -60px;
    width: 143px;
    height: 123px;
  }
  
  .wheel-item .seperator .seperator-image {
    position: absolute;
    z-index: -1;
    left: -5px;
    top: 50px;
    width: 8px;
    height: 120px;
  }
  
  .wheel-item:before {
    content: " ";
    display: block;
    position: absolute;
    box-sizing: border-box;
    z-index: -1;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0px;
    opacity: 1;
    --slice-max-width: calc(
      var(--PI) * var(--wheel-size) + var(--wheel-size) / 1
    );
    --slice-width: calc(
      (var(--slice-max-width) / var(--nb-item)) - var(--wheel-slice-spacing)
    );
    border: solid transparent calc(var(--slice-width) / 1.1);
  
    border-left: solid transparent 0px;
  
    border-right: solid transparent calc(var(--wheel-size) / 1.9);
  }
  