.planet-info-wrapper{
    display: flex;
    justify-content: flex-start;
    background: #222;
    height: 100%;
    .left-side {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 30%;
        max-width: 50%;
        h1{
            color: white;
        }
        .planet-image {
            width: 250px;
            height: 250px;
            border-radius: 100%;
            overflow: hidden;
            position: relative;
            img {
                width: 100%;
                height: 400px;
            }
        }
    }
    .right-side {
        line-height: 1.6;
        font-size: 16px;
        height: 100%;
        overflow: scroll;
        .right-side-container {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            span {
                margin-top: 10px;
                color: white;
            }
            .character {
                display: flex;
                flex-direction: column;   
            }
    
            .attacks {
                display: flex;
                flex-direction: column;
            }
        }
    }

    .actions-tab{
        display: flex;
        flex-direction: column;
        button {
            margin-top: 10px;
            padding: 5px 10px;
        }
    }
}

