.turn-info{
    position: absolute;
    left: 0%;
    bottom: -100%;
    width: 100%;
    height: 150px;
    background:white;
    z-index: 10;
    transition: 0.7s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    &.visible {
        bottom: 0%;
    }
}

.battle-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .top {
        width: 100%;
        height: calc(50% - 70px);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: relative;
        padding: 10px;
            .info{
                position: absolute;
                top: 40px;
                left: 30px;
                display: flex;
                flex-direction: column;
                width: 200px;
                .battle-member{
                    color: white;
                }
                .status-bar{
                    width: 100%;
                    height: 10px;
                    border-radius: 10px;
                    background: white;
                    overflow: hidden;
                    position: relative;
                    .status-bar-left {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 60%;
                        height: 100%;
                        background: darkslategray;
                    }
                }
            }
            .opponent-wrapper {
                border-radius: 400px;
                width: 400px;
                height: 400px;
                overflow: hidden;
                position: absolute;
                right: 0;
                top: -50px;
                z-index: 2;
                transition: 1s cubic-bezier(1,-0.2,.11,1.23);
                &.fainted {
                    top: 500px;
                }
            }

            .opponent-shadow {
                position: absolute;
                right: -80px;
                bottom: -186px;
                width: 540px;
                height: 75px;
                background: #1e1e1e;
                border-radius: 100%;
                transform: rotate3d(1, 0, 0, 65deg);
                filter: blur(6px);
                z-index: 1;
            }
        }

    .bottom {
        width: 100%;
        height: calc(50% - 70px);
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: relative;
        .info{
            position: absolute;
            top: 40px;
            left: 30px;
            display: flex;
            flex-direction: column;
            width: 200px;
            .battle-member{
                color: white;
            }
            .status-bar{
                width: 100%;
                height: 10px;
                border-radius: 10px;
                background: white;
                overflow: hidden;
                position: relative;
                .status-bar-left {
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    height: 100%;
                    background: darkslategray;
                    transition: 0.8s width;
                }
            }
        }
            .pluto-wrapper {
                border-radius: 100%;
                width: 40px;
                height: 40px;
                overflow: hidden;
                position: absolute;
                left: 160px;
                bottom: 0;
                z-index: 2;
                transition: 1s cubic-bezier(1,-0.2,.11,1.23);
                &.fainted {
                    bottom: -200px;
                }
            }

            .pluto-shadow {
                position: absolute;
                left: -80px;
                bottom: -40px;
                width: 500px;
                height: 80px;
                background: #1e1e1e;
                border-radius: 100%;
                transform: rotate3d(1, 0, 0, 65deg);
                filter: blur(6px);
                z-index: 1;
            }

        }
    .moves {
        width: 100%;
        height: 140px;
        flex-wrap: wrap;
        display: flex;
        background: grey;
        .move-wrapper {
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color: lightslategrey;
            }
        }
    }
}

.award-screen {
    position: absolute;
    top: 150px;
    left: -100%;
    width: 100%;
    height: 200px;
    background-color: #010101;
    opacity: 1;
    transition: 0.4s left;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.visible {
        left: 0;
    }
    h2, h3 {
        color: white;
        width: 80%;
        text-align: center;
    }
}