.solar-system{
    position: relative;
    width: 1000px;
    height: 1000px;
    border: 1px solid red;
}


@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}


.planets { 
    border-radius: 100%;
    .circle { 
        border-radius: 100%;
        border: 1px solid green;
        position: absolute;
        left: 50%;
        top: 0%;
        background-color: green;
    }
}

.sun {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid red;
    width: 150px;
    height: 150px;
    background-color: darkorange;
    margin-left: -75px;
    margin-top: -75px;
}

.mercury { 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    animation:spin 2s linear infinite;
    .circle { 
        width: 20px;
        height: 20px;
        margin-left: -10px;
        margin-top: -10px;
    }
}
.venus { 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -125px;
    margin-top: -125px;
    width: 250px;
    height: 250px;
    border: 1px solid blue;
    animation: spin 3s linear infinite;
    .circle { 
        width: 30px;
        height: 30px;
        margin-left: -15px;
        margin-top: -15px;
    }
}

.earth { 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    animation: spin 5s linear infinite;
    .circle { 
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
    }
}

.mars { 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -175px;
    margin-top: -175px;
    width: 350px;
    height: 350px;
    border: 1px solid blue;
    animation: spin 6s linear infinite;
    .circle { 
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
    }
}

.jupiter { 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    width: 500px;
    height: 500px;
    border: 1px solid blue;
    animation: spin 14s linear infinite;
    .circle { 
        width: 60px;
        height: 60px;
        margin-left: -30px;
        margin-top: -30px;
    }
}

.saturnus { 
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    border: 1px solid blue;
    animation: spin 16s linear infinite;
    .circle { 
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
    }
}

.uranus {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -350px;
    width: 700px;
    height: 700px;
    border: 1px solid blue;
    animation: spin 20s linear infinite;
    .circle { 
        width: 45px;
        height: 45px;
        margin-left: -22px;
        margin-top: -22px;
    }
}

.neptune {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -450px;
    margin-top: -450px;
    width: 900px;
    height: 900px;
    border: 1px solid blue;
    animation: spin 30s linear infinite;
    .circle { 
        width: 40px;
        height: 40px;
        margin-left: -20px;
        margin-top: -20px;
    }
}

.pluto {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -475px;
    margin-top: -475px;
    width: 950px;
    height: 950px;
    border: 1px solid blue;
    animation: spin 30s linear infinite;
    .circle { 
        width: 10px;
        height: 10px;
        margin-left: -5px;
        margin-top: -5px;
    }
}
