// Variables
$gravitation-constant: 6.673;

$stars: 300;

    

// Stars
.star-container {
  animation: gravity 200s linear infinite;
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -200px 0;
}


// Styles For Stars
.star {
  background: #FFF;
  border-radius: 100px;
  width: 1px;
  height: 1px;
  position: absolute;
  filter: brightness(5);
}

@for $i from 1 through $stars {
  .star:nth-of-type(#{$i}) {
    margin-left: random(4000) + px;
    margin-top: random(900) + px;
    
    animation: flash random(10) + s linear infinite;
  }
}

// Animate Stars
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

// Gravitational Pull 
@keyframes gravity {
  to {
    transform: rotate(360deg);
  }
}